.cart{
    margin-top: 30px;
}

.cartItem{
    flex-direction: row;
    img{
        display: block;
        height: auto;
        max-width: 400px;
    }
}

.cartHeader{
    display: flex;
    margin-top: 30px;
    button{
        margin-left: auto;
    }
}

.cartFooter{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}