.bookList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.imageCard{
    max-height: 400px;
    height: auto;
    width: 100%;
    display: block;
}